$font-family-sans-serif: 'Roboto', sans-serif;
$primary: #5265E1;
$secondary: #FA5959;

@import "../node_modules/bootstrap/scss/bootstrap";

$link-color:  $gray-700;
$font-size-sm: $font-size-base * .75;

h1 { font-weight: 400 }
p  { color: $gray-500 }
a  { color: $link-color }
a:hover { color: $secondary }
.fs-7 {font-size: $font-size-sm }
section { margin-bottom: 13vh; }

.nav-link { letter-spacing: 2px; }
.btn-sm, .btn-group-sm > .btn { padding: 0.65rem 1.4rem }
.btn-login, .btn-submit {
    background:$secondary;
    border:1px solid transparent;
    border-radius: 0.2rem;
    color: white;
}
.btn-submit { width: 100%; }
.btn-login:hover, .btn-submit:hover {
    border:1px solid $secondary;
    background:white;
    color: $secondary;
}
.btn-primary:hover { background:none; color: $primary; }
.btn-light:hover   { background:none; border-color: $gray-800; }

.nav-tabs .nav-link {
    border: 2px solid white;
    border-bottom: 2px solid #dee2e6;
}

.nav-tabs .nav-link.active{
    border: 2px solid white;
    border-bottom: 2px solid $secondary;
}
.nav-tabs .nav-link:hover {
    border-color: transparent;
    color: $secondary;
}
.nav-tabs { border-bottom: 0; }
.card {
    align-items: center;
    background: url(../assets/bg-dots.svg) no-repeat center 15em;
    border: none;
    box-shadow: 2px 2px 10px 0 #e8e8e8;
    margin: 1rem;
    padding: 2em 2em 0;
    width: 18rem;
}
.card img{
    width: auto;
    height: 100px;
}
.card p {
    display: block;
    margin-bottom: 4em;
}

#faq .accordion-button:hover { color: $secondary; }
#faq .accordion-button:not(.collapsed) {
    background: none;
    color: $secondary;
}
#faq .accordion-button:focus {
    background: none;
    border: none;
    border-color: transparent;
    outline: none;
}

footer .nav-link { color: #dad6d6; font-size: .8em; }
.was-validated .form-control:invalid,
.form-control.is-invalid {
    border-color: #dc3545;
    background-image: url(../assets/icon-error.svg);
    background-repeat: no-repeat;
    background-size: auto;
}
.invalid-feedback {
    color: white;
    background: red;
    padding: 4px;
    margin: 0; }


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem ; padding-left: 1.5rem ;
    }
    #download .card:nth-child(2n) {
        margin-top: 2em;
    }
    #download .card:nth-child(3n) {
        margin-top: 4em;
    }
    footer input[type="email"]{ width: 320px ; }
    .btn-submit { width: auto }
}
